.navbar {
    width: 85% ;
    margin: auto;
     padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 120px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 

.navbar ul li:hover::after {
   width: 100%;
}

.menu-bar {
    display: none;
}

@media screen and (max-width: 600px){
     .menu-bar {
        display: flex;
        color: #fff;
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 2.2rem;
        z-index: 1;
        user-select: none;
        appearance: none;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 2rem;  
        z-index: 9999;
    
    }
    .navbar {
        align-items: flex-start;
        flex-direction: column;

    }
    .navbar {
        width: 100% ;
        margin: auto;
         padding-top: 2rem;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        position: relative;
     
    }
    .logo {
        margin-left: 3rem;
    }
    .nav-links {
        display: none;
    }
        .open {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        z-index: 999;
        justify-content: space-evenly;
        margin-top: -3rem;
        background: black;
        opacity: 0.98;
        height: 100vh;
        overflow: hidden;
             
         }
    }

    
@media screen and (max-width: 300px){
    .logo {
        width: 5rem;
    }
  
    }
